@page
@using FinanceApp.Models; 
@model ShowAllModel 
@{
    ViewData["Title"] = "Show All Transactions";
} 
<style> .dropdown { 
    appearance: none; -webkit-appearance: none; -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polyline points="20 40, 70 90, 120 40" style="fill:none;stroke:black;stroke-width:16" /></svg>') no-repeat right center;
    background-position: calc(100% - 10px) center;
    background-size: 10px;
    padding-right: 20px; }
</style>


<h2>@ViewData["Title"]</h2>
@{
    if (Model.Accounts == null || Model.Accounts.Count == 0) { <p>No accounts. <a  class="nav-link px-3" href="/Finance/CreateAccount">Create an account</a>.</p>}
    else if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="container">
            <div class="row">
                <p>Select account to show transactions, Here you can permanently delete transactions.</p>
                <form method="post">
                <select asp-for="AccountNumber" id="listSelector">
                    @foreach (var account in Model.Accounts)
                    {
                        <option value="@account.AccountNumber">@account.AccountNumber</option>
                    }
                </select>
                <button type="submit">Get List</button>
                </form>

                @if(Model.Items.Count > 0){
                <p>@Model.Items.Count transactions in account - Balance: @TempData["Balance"] SEK</p>
                <table>
                    <tr><th>Transaction Type</th><th>Amount</th><th>Account number</th><th>Creation date</th><th>Deleted At</th><th>Delete permanently</th></tr>
                    @foreach (var item in Model.Items)
                    {
                        <input type="hidden" name="transactionId" value="@item.Id.ToString()" />
                        
                        <tr>
                        <td>@item.TransactionType.ToString()</td>
                        <td>@item.Amount SEK</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.CreatedAt</td>
                        @if(item.DeletedAt != null){
                            <form method="post" asp-page-handler="Delete" id="deleteForm_@item.Id"> 
                            <input type="hidden" name="TransactionId" value="@item.Id.ToString()" />
                                <td>@item.DeletedAt</td>
                                <td><button type="submit" form="deleteForm_@item.Id">Delete</button></td>
                            </form>
                            }
                        </tr>
                    }
                </table>
                }
                else{
                    if (TempData["ErrorMessage"] != null)
            { <div class="alert alert-danger">@TempData["ErrorMessage"]</div> }
                }
            </div>
        </div>
    }
    else { <div>User not authenticated?</div>}
}

@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}