@page
@model ShowToFromModel
@{
    ViewData["Title"] = "Transactions";
    var currentDate = DateTime.Now.ToString("yyyy-MM-dd");
}

<h2>List transactions</h2>
<p>If you, like me are using firefox, month and week picker won't work. Input as text with the correct format.</p>
@if(Model.Accounts != null){
if(TempData["SuccessMessage"] != null)
    { <div class="alert alert-success">@TempData["SuccessMessage"]</div> }
if (TempData["ErrorMessage"] != null)
    { <div class="alert alert-danger">@TempData["ErrorMessage"]</div> }

<div class="container">
    <form method="post">
        <input type="hidden" name="form" value="between" />
        <div>
            <label asp-for="StartDate">Start Date:</label>
            <input asp-for="StartDate" type="date" value=@currentDate min="1900-01-01" max="2100-12-31"/>
        </div>
        <div>
            <label asp-for="EndDate">End Date:</label>
            <input asp-for="EndDate" type="date" value=@currentDate min="1900-01-01" max="2100-12-31"/>
        </div>
        <div>
        <label asp-for="AccountNumber">Account Number:</label>
        <select asp-for="AccountNumber" id="listSelector">
            
                @foreach (var account in Model.Accounts)
                {
                    <option value="@account.AccountNumber">@account.AccountNumber</option>
                }
            
        </select>
    </div>
        <button type="submit">Submit</button>
    </form>
    <div>
    <form method="post">
        <input type="hidden" name="form" value="month" />
        <div>
            <label asp-for="MonthYear">Year and week:</label>
            <input asp-for="MonthYear" type="month" value="2025-01">
        </div>
        <div>
        <label asp-for="AccountNumber">Account Number:</label>
        <select asp-for="AccountNumber" id="listSelector">
            
            @foreach (var account in Model.Accounts)
                {
                    <option value="@account.AccountNumber">@account.AccountNumber</option>
                }
            
        </select>
        </div>
        <button type="submit">Submit</button>
    </form>
    </div>
    <div>
    <form method="post">
        <fieldset>
            <legend>Filter by year and week</legend>
        <input type="hidden" name="form" value="week" />
        <div>
            <label asp-for="Week">Year and week:</label>
            <input asp-for="Week" type="week" value="2025-W1">
        </div>
        <div>
            <label asp-for="AccountNumber">Account Number:</label>
            <select asp-for="AccountNumber" id="listSelector">
                @foreach (var account in Model.Accounts)
                {
                    <option value="@account.AccountNumber">@account.AccountNumber</option>
                }
            </select>
        </div>
        <button type="submit">Submit</button>
        </fieldset>
    </form>
    </div>
</div>
}
@if(Model.Transactions == null){
    <div>Submit from and to date to show transactions.</div>
} 
else if(Model.Transactions.Count > 0)
{
    <div>
        <h3>Transactions from @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString()</h3>
        <p>Total account balance: @TempData["Balance"] SEK</p>
        <table>
            <form method="post" asp-page-handler="Delete">
            <tr><th>Transaction Type</th><th>Amount</th><th>Account number</th><th>Creation date</th><th>Delete transaction</th></tr>
            @foreach (var transaction in Model.Transactions)
            {
                <input type="hidden" name="transactionId" value="@transaction.Id.ToString()" />
                <tr>
                    <td>@transaction.TransactionType.ToString()</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.AccountNumber</td>
                    <td>@transaction.CreatedAt.ToShortDateString()</td>
                    <td><button type="submit">Delete</button></td>
                </tr>
            }
            </form>
        </table>
    </div>
}
else
{
    <p>No transactions found for the specified date range.</p>
}