@page 
@model AddManyModel 
@{
    ViewData["Title"] = "TransactionEntry";
} 
<style> .dropdown { 
    appearance: none; -webkit-appearance: none; -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><polyline points="20 40, 70 90, 120 40" style="fill:none;stroke:black;stroke-width:16" /></svg>') no-repeat right center;
    background-position: calc(100% - 10px) center;
    background-size: 10px;
    padding-right: 20px; }
</style>

@{if (Model.Accounts == null || Model.Accounts.Count == 0) { <p>No accounts. Add an account to be able to add a transaction.</p>}
else if (User.Identity.IsAuthenticated) {
    if (TempData["SuccessMessage"] != null)
        { <div class="alert alert-success">@TempData["SuccessMessage"]</div> }
    if (TempData["ErrorMessage"] != null)
        { <div class="alert alert-danger">@TempData["ErrorMessage"]</div> }

    <div class="container">
        <div class="row">
            <form id="transactionForm" method="post" class="col-md-4 mx-auto">
                <div class="text-center mt-5" style="font-size: 20px;">
                    Simple App Test
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="accordion">
                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input asp-for="Amount" class="form-control" step="0.01" autocomplete="off" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransactionType"></label>
                        <select asp-for="TransactionType" class="form-control dropdown" id="type" required>
                            <option value="Deposit">Deposit</option>
                            <option value="Withdrawal">Withdrawal</option>
                        </select>
                        <span asp-validation-for="TransactionType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountNumber"></label>
                        <select asp-for="AccountNumber" class="form-control dropdown" id="account" required>
                            @foreach (var account in Model.Accounts)
                            {
                                <option value="@account.AccountNumber">@account.AccountNumber - balance: @(account.BalanceMinorUnit/100)</option>
                            }
                        </select>
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-2">
                        <button id="add" type="submit" class="btn btn-outline-info">Add transaction</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    }
    else{
        <div>You need to be logged in to add a transaction.</div>
    }
}
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }